const CREDENTIALS = {
  // Edit to use your own public key on PEM-encoded SPKI format. This one is invalid! :)
  PUBLIC_VERIFICATION_KEY: `-----BEGIN PUBLIC KEY-----
whatever goes here. this is not valid
-----END PUBLIC KEY-----`,
  USER_NAME: "Your Real Name (or Alias)",
}
