const CREDENTIALS = {
  // Get an InboxSDK AppID on https://www.inboxsdk.com/register to remove the warning banner on top of the Gmail window
  INBOXSDK_APP_ID: "YOUR_APP_ID_HERE",
  
  // This is NOT a proper secret key, it comes from https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#pkcs_8_import
  // Enter your own secret key on PEM-encoded PKCS #8 format
  PRIVATE_SIGNING_KEY: `-----BEGIN PRIVATE KEY-----
MIIEvQIBADANB...rV3ZOxkrzxEUOrpOpR48FZbL7RN90yRQsAsrp9e4iv8QwB3VxLe7X0TDqqnRyqrc/osGzuS2ZcHOKmCU8=
-----END PRIVATE KEY-----`,
  
  // Enter the URL of the site where the signatures can be verified.
  VERIFICATION_URL = "https://example.com",
}
